body {
    background-color: black;
    text-align: center;
    margin-top: 30px;
    position: relative;
  }
  
  .panel {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
  }
  
  .panel:hover {
    box-shadow: inset 0px 0px 0px 3px cyan;
    box-sizing: border-box;
  }
  
  .bottom-right-panel {
    border-bottom-right-radius: 100%;
    background-color: red;
  }
  
  .bottom-left-panel {
    border-bottom-left-radius: 100%;
    background-color: blue;
  }
  
  .top-right-panel {
    border-top-right-radius: 100%;
    background-color: green;
  }
  
  .top-left-panel {
    border-top-left-radius: 100%;
    background-color: yellow;
  }
  
  .active {
    background-color: white;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100%;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .center-text {
    font-size: 32px;
    color: white;
    letter-spacing: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
    text-shadow: 2px 2px 4px red,
    -2px -2px 4px lime,
    2px -2px 4px blue,
    -2px 2px 4px yellow;
}

  #roundNumber {
    display: block;
    font-size: 24px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
    text-shadow: 2px 2px 4px red,
    -2px -2px 4px lime,
    2px -2px 4px blue,
    -2px 2px 4px yellow;
}

    h1 { 
    display: block;
    font-size: 100 px;
    color: white;
    text-align: center;
    margin-top: 20px; 
    text-shadow: 0 0 5px #0000FF;

     
}
    h2 {
    display: block;
    font-size: 100 px;
    color: white;
    text-align: center;
    margin-top: 20px; 
    text-shadow: 0 0 3px #FF0000;
}

  #playAgainButton,
  #startbutton {
    display: none;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

